/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Anton&display=swap');

/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

/* Navbar */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
  background: rgba(0, 0, 0, 0.3);

}

nav.sticky {
  background: #4070f4;
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #fff;
}

.navbar .menu {
  display: flex;
  position: relative;
}

.navbar .menu li {
  list-style: none;
  margin: 0 20px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #4070f4;
}

nav.sticky .menu a {
  color: #fff;
}

nav.sticky .menu a:hover {
  color: #0E2431;
}

.navbar .media-icons a {
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #fff;
}

/* Menu Buttons */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #fff;
}

.navbar .menu .cancel-btn {
  color: #fff;
}

/* Home Section */
.home {
  height: 100vh;
  width: 100%;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: #b0c6d2;
}

.home .text-two {
  font-size: 75px;
  color: #9eb1bc;
  font-weight: 600;
  margin-left: -3px;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #9da5b9;
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* Section Base */
section {
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

/* About Section */
.about {
  background: #003366;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .left {
  width: 45%;
}

.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.about .right {
  width: 55%;
}

section .topic {
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about .right p {
  color: #0E2431;
  text-align: justify;
}

/* Section Button */
section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* Talents Section */
.talents {
  background: #003366;
}

/* Services Section */
.services {
  background: #003366;
}

.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  width: calc(100% / 3 - 20px);
  margin: 20px 0;
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}

.services .boxes .box .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .icon {
  background: #fff;
  color: #4070f4;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

/* Contact Section */
.contact {
  background: #003366;
}

.contact .content {
  padding: 30px 0;
  margin: 0 auto;
}

.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer */
footer {
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: #fff;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll-to-Top Button */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  display: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* Background Video */
.background-clip {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Container & Content Text */
body {
  background-color: #003366;
  width: 100%;
}

.container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  letter-spacing: 3px;
}

.content h2 {
  font-size: 120px;
  font-family: 'Anton', sans-serif;
  color: #c5dafb;
}

/* Responsive Design */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    flex-direction: column;
    justify-content: center;
  }

  .about .left,
  .about .right {
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }

  .services .boxes .box {
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 750px) {
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    color: #fff;
    margin: 15px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .skills .skills-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skills .text,
  .skills .boxes {
    width: 100%;
    text-align: center;
  }

  .services .boxes .box {
    width: 100%;
  }

  .contact .text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }

  .home .text-three {
    font-size: 33px;
  }

  .skills .boxes .per {
    font-size: 50px;
  }
}
